<div style="width:100% ;overflow: scroll">
    <div style="width:160% !important; ">
        <div style="width:25%; float:left;">
            <a href="categoria.php?idCategoria=1&Usr=<?echo $Usr;?>" title="Cara" class="thumb">
                <div style="width:100% ; border:0px solid black;  border-radius:15px; text-align:center; padding:5px;">
                    <img src="../../../assets/img/cara.jpg" alt="Microinjerto capilar" style="width:100%; height:150px;  border-top-left-radius:15px; border-top-right-radius:15px;">
                    <h3 style=" color:#000;font-size:18px; font-weight:800; letter-spacing:1px; height:25px;padding-left:4px;padding-right:4px;">Cara</h3>
                </div>
            </a>
        </div>
        <div style="width:25%; float:left;">
            <a href="categoria.php?idCategoria=2&Usr=<?echo $Usr;?>" title="Cuepro" class="thumb">
                <div style="width:100% ; border:0px solid black;  border-radius:15px; text-align:center; padding:5px;">
                    <img src="../../../assets/img/cuerpo.png" alt="Microinjerto capilar" style="width:100%; height:150px; border-top-left-radius:15px; border-top-right-radius:15px;">
                    <h3 style=" color:#000;font-size:18px; font-weight:800; letter-spacing:1px; height:25px;padding-left:4px;padding-right:4px;">Cuerpo</h3>
                </div>
            </a>
        </div>
        <div style="width:25%; float:left;">
            <a href="categoria.php?idCategoria=3&Usr=<?echo $Usr;?>" title="Piel" class="thumb">
                <div style="width:100% ; border:0px solid black;  border-radius:15px; text-align:center; padding:5px;">
                    <img src="../../../assets/img/piel.jpg" alt="Microinjerto capilar" style="width:100%; height:150px; border-top-left-radius:15px; border-top-right-radius:15px; over-flow:hidden;">
                    <h3 style=" color:#000;font-size:18px; font-weight:800; letter-spacing:1px; height:25px;padding-left:4px;padding-right:4px;">Piel</h3>
                </div>
            </a>
        </div>
        <div style="width:25%; float:left;">
            <a href="categoria.php?idCategoria=4&Usr=<?echo $Usr;?>" title="Renta de quirofano" class="thumb">
                <div style="width:100% ; border:0px solid black;  border-radius:15px; text-align:center; padding:5px;">
                    <img src="../../../assets/img/clinica4.jpg" alt="Microinjerto capilar" style="width:100%; height:150px; border-top-left-radius:15px; border-top-right-radius:15px;">
                    <h3 style=" color:#000;font-size:18px; font-weight:800; letter-spacing:1px; height:25px;padding-left:4px;padding-right:4px;">Renta de quirofano</h3>
                </div>
            </a>
        </div>
    </div>
</div>