<div class="separador"></div>
<div class="sticky-top" id="navBusqueda" name="navBusqueda" style="width:100%;margin-top:10px; height:50px; background:white; ">
    <div class="container-fluid " for="busq">
        <div class="col-2" style="  float:left;background:#f2f2f2; 
                                        height:40px; 
                                        font-size:1rem;
                                        color:#727272;
                                        border-top-left-radius:15px;
                                        border-bottom-left-radius:15px;">
            <i class="fas fa-search" style="line-height:3;" onClick="busqueda();"></i>
        </div>
        <div class="col-10" style=" float:left;
                                        float:left;background:#f2f2f2; 
                                        height:40px; 
                                        font-size:.8rem;
                                        color:#727272;
                                        border-top-right-radius:15px;
                                        border-bottom-right-radius:15px;line-height:3;"> <b style="margin-top:15px;" onclick="busqueda();">Prueba "Cirugia Plastica"</b>

        </div>
        <input type="checkbox" name="busq" id="busq" style="display:none;">
    </div>
</div>