<a href="subCategoria.php?idSubCategoria=<? echo $idSubCategoria;?>&Usr=<?echo $Usr;?>" style="text-decoration:none; color :#727272; float:left; cursor:pointer; width:50%;">
    <div style="float:left; margin-bottom:15px; width:96% !important; margin-left:4%; margin-rigth:2%;">
        <div style=" width:98%;">
            <div class="card" style="border:none; ">
                <img src="../../../assets/img/1_microinjerto.jpg" class="card-img-top" alt="..." style="width:100%; height:120px;   ">
                <h5 style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important;font-size:12px; font-weight:500;margin-top:10px;letter-spacing:2px;">
                    Cabeza
                </h5>
                <p style="  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important; font-size:12px;margin-top:-6px; width:100%; line-height:17px; font-weight:800;"><b>orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. ... </b></p>

                <div style="margin-top:-19px; font-size:8px;">
                    <span class="checked">  </span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="checked">(5)</span>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="subCategoria.php?idSubCategoria=<? echo $idSubCategoria;?>&Usr=<?echo $Usr;?>" style="text-decoration:none; color :#727272; float:left; cursor:pointer; width:50%;">
    <div style="float:left; margin-bottom:15px; width:96% !important; margin-left:4%; margin-rigth:2%;">
        <div style=" width:98%;">
            <div class="card" style="border:none; ">
                <img src="../../../assets/img/1_microinjerto.jpg" class="card-img-top" alt="..." style="width:100%; height:120px;   ">
                <h5 style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important;font-size:12px; font-weight:500;margin-top:10px;letter-spacing:2px;">
                    Cabeza
                </h5>
                <p style="  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important; font-size:12px;margin-top:-6px; width:100%; line-height:17px; font-weight:800;"><b>orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. ... </b></p>

                <div style="margin-top:-19px; font-size:8px;">
                    <span class="checked">  </span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="checked">(5)</span>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="subCategoria.php?idSubCategoria=<? echo $idSubCategoria;?>&Usr=<?echo $Usr;?>" style="text-decoration:none; color :#727272; float:left; cursor:pointer; width:50%;">
    <div style="float:left; margin-bottom:15px; width:96% !important; margin-left:4%; margin-rigth:2%;">
        <div style=" width:98%;">
            <div class="card" style="border:none; ">
                <img src="../../../assets/img/1_microinjerto.jpg" class="card-img-top" alt="..." style="width:100%; height:120px;   ">
                <h5 style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important;font-size:12px; font-weight:500;margin-top:10px;letter-spacing:2px;">
                    Cabeza
                </h5>
                <p style="  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important; font-size:12px;margin-top:-6px; width:100%; line-height:17px; font-weight:800;"><b>orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. ... </b></p>

                <div style="margin-top:-19px; font-size:8px;">
                    <span class="checked">  </span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="checked">(5)</span>
                </div>
            </div>
        </div>
    </div>
</a>
<a href="subCategoria.php?idSubCategoria=<? echo $idSubCategoria;?>&Usr=<?echo $Usr;?>" style="text-decoration:none; color :#727272; float:left; cursor:pointer; width:50%;">
    <div style="float:left; margin-bottom:15px; width:96% !important; margin-left:4%; margin-rigth:2%;">
        <div style=" width:98%;">
            <div class="card" style="border:none; ">
                <img src="../../../assets/img/1_microinjerto.jpg" class="card-img-top" alt="..." style="width:100%; height:120px;   ">
                <h5 style="font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important;font-size:12px; font-weight:500;margin-top:10px;letter-spacing:2px;">
                    Cabeza
                </h5>
                <p style="  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, 'Helvetica Neue', sans-serif !important; font-size:12px;margin-top:-6px; width:100%; line-height:17px; font-weight:800;"><b>orem Ipsum es simplemente el texto de relleno de las imprentas y archivos de texto. ... </b></p>

                <div style="margin-top:-19px; font-size:8px;">
                    <span class="checked">  </span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="checked">(5)</span>
                </div>
            </div>
        </div>
    </div>
</a>
<div class="separador"></div>
<div class="container">
    <a href="categoria.php?idCategoria=<? echo $idCategoria;?>&Usr=<?echo $Usr;?>">
        <div class="mostrarMas">
            <b>Mostrar Más de Cuerpo
            </b>
        </div>
    </a>
</div>